<div class="card d-flex flex-nowrap signup" id="main-card">
<h1 class="d-flex flex-nowrap">Create an account</h1>
<form action="/signup" method="POST" id="new_signup">
    <div class="form-row">
        <div class="form-group col-sm-12 col-md-6">
    <label for="username" class="signup">Username</label>
        </div>
        <div class="form-group col-sm-12 col-md-6">
        <input class="form-control" pattern=".*\S+.*" title="username cannot be blank" id="username" name="username" required/>
    </div>
    </div>
    <div class="form-row">
        <div class="form-group col-sm-12 col-md-6">
    <label for="email" class="signup">Email</label>
        </div>
        <div class="form-group col-sm-12 col-md-6">
            <input class="form-control" pattern=".*\S+.*" title="username cannot be blank" id="email" type="email" name="email" required />
    </div>
       </div>
    <div class="form-row">
        <div class="form-group col-sm-12 col-md-6">
    <label for="password" class="signup">Password</label>
        </div>
        <div class="form-group col-sm-12 col-md-6">
            <input class="form-control" id="password" type="password" name="password" required/>
    </div>
    </div>
    <div class="form-row">
        <div class="form-group col-sm-12 col-md-6">
    <label for="password" class="signup">Confirm Password</label>
        </div>
        <div class="form-group col-sm-12 col-md-6">
            <input class="form-control" id="confirm" type="password" name="confirmpassword" required/>
    </div>
    </div>

    <input class="btn signup" value="Sign up" type="submit" />
</form>

</div>
</div>
<br/>
<br/>
<br/>
