<section id="team" class="section">
    <div class="container team">
        <h2 class="section-head mt-3 team"><i class="fas fa-users header-icons"></i> Meet The Team</h2>
        <p class="lead hideOnSmall team">The developers behind Simple Budget</p>
        <hr />
        <div class="grid-profile">

            <!-- =================  Brittany profile ================= -->
            <div id="britt">
                <div class="brittanyPic teamImg"></div>
                <h4 class="mb-1 mt-2 nameHighlight mx-auto">Brittany Russell</h4>
                <div id="icons">
                    <a class="team" href="mailto:brittanyrussell1103@gmail.com">
                        <i class="fas fa-envelope-square team"></i>
                    </a>
                    <a class="team" href="https://www.linkedin.com/in/brittany-russell-codeup/" target="_#">
                        <i class="fab fa-linkedin mx-2 team"></i>
                    </a>
                    <a class="team" href="https://github.com/brittanyrussell">
                        <i class="fab fa-github-square team"></i>
                    </a>
                </div>
            </div>

            <!-- ================= Hunter profile ================= -->
            <div id="hunter">
                <div class="hunterPic teamImg"></div>
                <h4 class="mb-1 mt-2 nameHighlight mx-auto">Hunter Houts</h4>
                <div id="icons">
                    <a class="team" href="mailto:hunter.alexander.houts@gmail.com">
                        <i class="fas fa-envelope-square team"></i>
                    </a>
                    <a class="team" href="https://www.linkedin.com/in/hunter-houts/" target="_#">
                        <i class="fab fa-linkedin mx-2 team"></i>
                    </a>
                    <a class="team" href="https://github.com/Hunter-Houts">
                        <i class="fab fa-github-square team"></i>
                    </a>
                </div>
            </div>

            <!-- ================= Patrick profile ================= -->
            <div id="patrick">
                <div class="patrickPic teamImg"></div>
                <h4 class="mb-1 mt-2 nameHighlight mx-auto">Patrick Fisher</h4>
                <div id="icons">
                    <a class="team" href="mailto:patrick.ryan.fisher@gmail.com">
                        <i class="fas fa-envelope-square team"></i>
                    </a>
                    <a class="team" href="https://www.linkedin.com/in/patrickryanfisher/" target="_#">
                        <i class="fab fa-linkedin mx-2 team"></i>
                    </a>
                    <a class="team" href="https://github.com/patrickrfisher">
                        <i class="fab fa-github-square team"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<br/>
