<div class="container-fluid">
<div class="card d-flex flex-nowrap text-center editReview" id="main-card">
   <h2 class="d-flex flex-nowrap"><div class="container-fluid text-center">Edit Review</div></h2>
    <form action='/reviews/{{Review.id}}' method="post" id="editReview">
    <div class="slidecontainer">
        <label class="editReview" for="rating">Rating</label>
        <input type="range" min="1" max="5"  value ="1"  class = "slider" id="rating"/>
    <span>Rating:</span>
        <span id="f">{{Review.rating}}</span>
    </div>
    <br/>
    <div class="form-group">
        <label class="editReview" for="body">Body:</label>
        <textarea class="form-control text-center editReview" rows="8" cols="100" id="body" required>{{Review.body}}</textarea>
        <br/>
    </div>
    <input  class= "text-center btn editReview" type="submit"/>
</form>
</div>
</div>
<br/>
<br/>
<br/>
<br/>
